.monitor_sensor
{
    display: inline-flex;
    flex-direction: row;
    position: relative;

}
.button
{
    position: relative;
    left: 30%;
}
.text_switch
{
    
    left: 50cm;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.weatherwidget-io
{  
    justify-content: center;
    align-items: center;
    height: 50%;
    top: 50%;
    left: 15%;
}
.layout_Ele
{
    display: grid;
    left: 30%;
    top: 10%;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}
.weatherwidget-io
{
    right: inherit;
}
.text-center 
{
    left: 100%;

}
.index_text{
    widows: 30px;
    height: 120px;
    justify-content: center;
}

.row{
    justify-content: center;
}